.layer_title2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    cursor: move;
}

.close_btn {
    width: 16px;
    height: 16px;
    background: url(#{$icon-url}close_black.png) no-repeat;
    cursor: pointer;
}

.content_container{
    display: flex;
    height: calc(100% - 60px);
}


.search_results_wrap{

    height: 40px;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: var(--font-sub1-size);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    .search_num {
        color: #FC4A4A;
    }
}

.customer_photo {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    position: relative;
}

.txt_contents {
    border: 1px solid var(--border-color);
    height: 290px;
    border-radius: 2px;
    textarea {
        border: none;
        color: var(--font-black-sub2);
        font-size: var(--font-sub1-size);
    }
}