:root {
    --header-color:#fff;
    --nav-primary-color:#55BEC8;
    --secondary-bg-color:#F4F3F9;
    --hover-bg-color:#FFF8E5;
    --border-color:#EBEBEB;
    --font-black-basic:#333;
    --font-black-sub:#777;
    --font-black-sub2:#999;
    --font-family:'Pretendard', sans-serif;
    --font-main-size:13px;
    --font-sub1-size:12px;
    --font-sub2-size:10px;
    --font-subject-weight:600;
    --font-normal-weight:400;
  }
  